<!-- Tabs -->
<div *ngIf="showSuccessMessage"
class="fixed bottom-4 right-4 bg-green-600 text-white px-4 py-2 rounded shadow-lg">
Student and Education records saved successfully.
</div>
<div class="flex space-x-2 border-b mb-4">
  <button
    class="px-4 py-2"
    [class.bg-blue-700]="activeTab === 'personal'"
    [class.text-white]="activeTab === 'personal'"
    (click)="activeTab = 'personal'"
  >
    PERSONAL INFO
  </button>
  <button
    class="px-4 py-2"
    [class.bg-blue-700]="activeTab === 'contact'"
    [class.text-white]="activeTab === 'contact'"
    (click)="activeTab = 'contact'"
  >
    CONTACT INFO
  </button>
  <button
    class="px-4 py-2"
    [class.bg-blue-700]="activeTab === 'education'"
    [class.text-white]="activeTab === 'education'"
    (click)="activeTab = 'education'"
  >
    TERTIARY EDUCATION
  </button>
</div>

<!-- PERSONAL INFO TAB -->
<div *ngIf="activeTab === 'personal'" class="p-4 border rounded-md bg-white">
  <div class="flex flex-col md:flex-row gap-6">
    <!-- Profile Image -->
    <div class="flex flex-col items-center">
      <img
        [src]="student.profileImage || defaultProfileImage"
        alt="Profile Image"
        class="profile-img"
      />

      <input type="file" (change)="onProfileImageSelected($event)" class="hidden" #fileInput />
      <button
        class="mt-2 bg-blue-700 text-white px-4 py-2 rounded"
        (click)="fileInput.click()"
      >
        Upload Image
      </button>
    </div>

    <!-- Personal Fields -->
    <div class="flex-1 space-y-4">
      <div>
        <label>Title <span class="text-red-600">*</span></label>
        <select [(ngModel)]="student.title" class="border p-2 w-full col-span-2">
          <option>Mr.</option>
          <option>Mrs.</option>
          <option>Ms.</option>
          <option>Miss.</option>
        </select>
      </div>

      <div>
        <label>Preferred First Name <span class="text-red-600">*</span></label>
        <input type="text" [(ngModel)]="student.preferred_First_Name" name="preferred_First_Name" required #preferredFirstName="ngModel"
          class="w-full border px-2 py-1" />
        <div class="text-red-600 text-sm" *ngIf="preferredFirstName.invalid && preferredFirstName.touched">
          Preferred First Name is required.
        </div>
      </div>
      
      <div>
        <label>Preferred Last Name <span class="text-red-600">*</span></label>
        <input type="text" [(ngModel)]="student.preferred_Last_Name" name="preferred_Last_Name" required #preferredLastName="ngModel"
          class="w-full border px-2 py-1" />
        <div class="text-red-600 text-sm" *ngIf="preferredLastName.invalid && preferredLastName.touched">
          Preferred Last Name is required.
        </div>
      </div>

    </div>
  </div>

  <div class="mt-6 space-y-4">
    <div>
      <label>Gender <span class="text-red-600">*</span></label>
      <select [(ngModel)]="student.gender" class="border p-2 w-full col-span-2">
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
      </select>
    </div>

    <div>
      <label>Full Name:</label>
      <input type="text" class="w-full border px-2 py-1" [(ngModel)]="student.name" readonly/>
    </div>
    <div>
      <label>Passport:</label>
      <input type="text" class="w-full border px-2 py-1" [(ngModel)]="student.passport" readonly/>
    </div>
    
    <div>
      <label>Country <span class="text-red-600">*</span></label>
      <input type="text" [(ngModel)]="student.country" name="country" required #country="ngModel"
        class="w-full border px-2 py-1" readonly/>
      <div class="text-red-600 text-sm" *ngIf="country.invalid && country.touched">
        Country is required.
      </div>
    </div>

    <div>
      <label>Date of Birth <span class="text-red-600">*</span></label>
      <input type="date" [(ngModel)]="student.dateOfBirth" name="dateOfBirth" required #dob="ngModel"
        class="w-full border px-2 py-1" readonly/>
      <div class="text-red-600 text-sm" *ngIf="dob.invalid && dob.touched">
        Date of Birth is required.
      </div>
    </div>

  </div>
</div>

<!-- CONTACT INFO TAB -->
<div *ngIf="activeTab === 'contact'" class="p-4 border rounded-md bg-white space-y-4">

  <h3 class="font-bold">Permanent/Home Address</h3>
  
  <div>
    <label>Street Number <span class="text-red-600">*</span></label>
    <input type="text" [(ngModel)]="student.permanent_streetNumber" name="permanent_streetNumber" required #streetNumber="ngModel"
      class="w-full border px-2 py-1" />
    <div class="text-red-600 text-sm" *ngIf="streetNumber.invalid && streetNumber.touched">
      Street Number is required.
    </div>
  </div>
  
  <div>
    <label>Street Name <span class="text-red-600">*</span></label>
    <input type="text" [(ngModel)]="student.permanent_streetName" name="permanent_streetName" required #streetName="ngModel"
      class="w-full border px-2 py-1" />
    <div class="text-red-600 text-sm" *ngIf="streetName.invalid && streetName.touched">
      Street Name is required.
    </div>
  </div>


  <div>
    <label>Suburb:</label>
    <input type="text" class="w-full border px-2 py-1" [(ngModel)]="student.permanent_suburb" />
  </div>

  <div>
    <label>City <span class="text-red-600">*</span></label>
    <input type="text" [(ngModel)]="student.permanent_city" name="permanent_city" required #city="ngModel"
      class="w-full border px-2 py-1" />
    <div class="text-red-600 text-sm" *ngIf="city.invalid && city.touched">
      City is required.
    </div>
  </div>

  <div>
    <label>Country:</label>
    <input type="text" class="w-full border px-2 py-1" [(ngModel)]="student.permanent_country" />
  </div>
  <div>
    <label>Postcode:</label>
    <input type="text" class="w-full border px-2 py-1" [(ngModel)]="student.permanent_postcode" />
  </div>
  <div>
    <label>Phone:</label>
    <input type="text" class="w-full border px-2 py-1" [(ngModel)]="student.permanent_phone" />
  </div>

  <h3 class="font-bold mt-4">Address while Studying</h3>
  <div>
    <label>Street Number:</label>
    <input type="text" class="w-full border px-2 py-1" [(ngModel)]="student.study_streetNumber" />
  </div>
  <div>
    <label>Street Name:</label>
    <input type="text" class="w-full border px-2 py-1" [(ngModel)]="student.study_streetName" />
  </div>
  <div>
    <label>Suburb:</label>
    <input type="text" class="w-full border px-2 py-1" [(ngModel)]="student.study_suburb" />
  </div>
  <div>
    <label>City:</label>
    <input type="text" class="w-full border px-2 py-1" [(ngModel)]="student.study_city" />
  </div>
  <div>
    <label>Country:</label>
    <input type="text" class="w-full border px-2 py-1" [(ngModel)]="student.study_country" />
  </div>
  <div>
    <label>Postcode:</label>
    <input type="text" class="w-full border px-2 py-1" [(ngModel)]="student.study_postcode" />
  </div>
  <div>
    <label>Phone:</label>
    <input type="text" class="w-full border px-2 py-1" [(ngModel)]="student.study_phone" />
  </div>

  <h3 class="font-bold mt-4">Contact Email</h3>
  <div>
    <label>Contact Email <span class="text-red-600">*</span></label>
    <input type="email" [(ngModel)]="student.contact_Email" name="contact_Email" required #email="ngModel"
      class="w-full border px-2 py-1" />
    <div class="text-red-600 text-sm" *ngIf="email.invalid && email.touched">
      Contact Email is required.
    </div>
  </div>
  <div>
    <label>Confirm Email <span class="text-red-600">*</span></label>
    <input type="email" [(ngModel)]="student.confirm_Email" name="confirm_Email" required #confirmemail="ngModel"
      class="w-full border px-2 py-1" />
    <div class="text-red-600 text-sm" *ngIf="confirmemail.invalid && confirmemail.touched">
      Confirm Email is required.
    </div>
  </div>

  <h3 class="font-bold mt-4">Emergency Contact</h3>
  <div>
    <label>Emergency Contact Name <span class="text-red-600">*</span></label>
    <input type="text" [(ngModel)]="student.emergencyContact_Name" name="emergencyContact_Name" required #emergencyName="ngModel"
      class="w-full border px-2 py-1" />
    <div class="text-red-600 text-sm" *ngIf="emergencyName.invalid && emergencyName.touched">
      Emergency Contact Name is required.
    </div>
  </div>


  <div>
    <label>Relationship:</label>
    <input type="text" class="w-full border px-2 py-1" [(ngModel)]="student.emergencyContact_Relationship" />
  </div>

</div>

<!-- TERTIARY EDUCATION TAB -->
<div *ngIf="activeTab === 'education'" class="p-4 border rounded-md bg-white">
  <app-student-education 
      [records]="student.tertiaryRecords"
      (educationAdded)="addEducation()"
      (educationRemoved)="removeEducation($event)">
  </app-student-education>
</div>

<!-- Save Button -->
<button (click)="saveStudent()" [disabled]="isFormInvalid()" class="bg-blue-700 text-white px-4 py-2 rounded mt-4">
  Save Student and Education Records
</button>
