<div class="enrolment-container">
  <h2>
    <a
      [routerLink]="['/course', enrolments[0].qualificationId]"
      class="course-link"
      >{{ qualification }}</a
    >
  </h2>
  <div *ngIf="isLoading" class="loading-message">Loading enrolments...</div>
  <div *ngIf="!isLoading" class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th *ngFor="let header of tableHeaders">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let enrolment of enrolments">
          <td>{{ enrolment.period }}</td>
          <td>{{ enrolment.courseCode }}</td>
          <td>{{ enrolment.courseDescription }}</td>
          <td>{{ enrolment.status }}</td>
          <td>{{ enrolment.startDate | date : "dd-MMM-yyyy" }}</td>
          <td>{{ enrolment.location }}</td>
          <td>{{ enrolment.level }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
